services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    environment:
      TZ: America/Sao_Paulo
    volumes:
      - redis_data:/data
    command: [ "redis-server", "--appendonly", "yes" ]
    restart: unless-stopped
    networks: [ n8n_network ]

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: spaik
      RABBITMQ_DEFAULT_PASS: spaik
      TZ: America/Sao_Paulo
    restart: unless-stopped
    networks: [ n8n_network ]

  n8n:
    image: n8nio/n8n:1.112.5
    container_name: n8n
    ports:
      - "5678:5678"
    depends_on:
      - redis
      - rabbitmq
    environment:
      TZ: America/Sao_Paulo
      GENERIC_TIMEZONE: America/Sao_Paulo
      N8N_REDIS_HOST: redis
      N8N_REDIS_PORT: 6379
    volumes:
      - n8n_data:/home/node/.n8n
      - ./output:/data/generated_files
    restart: unless-stopped
    networks: [ n8n_network ]

volumes:
  n8n_data:
  redis_data:


networks:
  n8n_network:
    driver: bridge
